@tailwind base;
@tailwind components;
@tailwind utilities;

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.y-center {
    transform: translateY(-50%);
}

.x-center {
    transform: translateX(-50%);
}

.center {
    top: calc(50% - 32px);
    left: 50%;
    transform: translate(-50%, -50%);
}

#drag {
    transition: border-color 0.2s ease;
}

.btn {
    @apply border-slate-500 border-2 rounded-lg text-[#9CA3AF] p-1 hover:bg-[#283548]
}